.chat {
  padding: 30px 0;
}

.chat-row {
  display: flex;
  margin: 24px 0;

  &--left {
    margin-right: 140px;
  }

  &--right {
    margin-left: 140px;
    border-radius: 15px;
    background-color: #e4e4e4;
  }

  &__user {
    font-weight: bold;
    padding: 6px 12px;
    margin-bottom: 2px;
  }

  &__input {
    width: 100%;

    p {
      padding: 6px 12px 0;
    }

    textarea {
      padding: 20px;
      border: none;
      overflow: auto;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      resize: none; /*remove the resize handle on the bottom right*/
      background-color: transparent;
    }
  }
}