.layout {
  min-height: 100vh;
  min-width: 100vw;

  &__bar {
    background-color: #E6504F;
    position: absolute;
    height: 100vh;
    width: 235px;
  }

  &__bar-image {
    margin-top: 60px;
    margin-left: 25px;
  }
}